p {
    color:blue;
}
p.new {
    color:white;
    background-color: rgb(94, 49, 167);
    width: fit-content;
    padding: 30px;
}

div.circle {
    height: 100px;
    width: 100px;
    background-color:aqua;
    border-radius:500000px;
}

div.circle:hover {
    background-color: yellow;
}
div.circle:active {
    background-color: black;
}
